body {
  font-family: 'Baloo Paaji 2', cursive; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  margin: 5%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
}
footer, header {
  font-size: 15px;
  color: gray;
  text-align: center;
  height: 10%;
  width: 100%;

  margin: 20px;
}
/* #setting {
  display: flex;
  justify-content: space-between;
  height: 20%;
}
button #mode {
  font-size: 20px;
}

#sound {
  justify-content: flex-end;

  display: flex;
  align-items: center;
} */

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 80%;
}

#game-board-wrapper {
  height: 500px;
  width: 500px;

  margin: 10px;

  background-color: rgb(46, 46, 46);
  border: 2px solid rgb(46, 46, 46);

  outline: white;
}
#game-board {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}
/* cell */
#game-board div {
  width: calc(100% / width);
  height: calc(100% / height);

  flex: 1 1 10%;
}
/* ex-game */
#ex-game {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  height: 30%;
}
.action {
  display: flex;
  justify-content: flex-start;
  /* margin: 20px 20px 20px 10%; */
}
button#start, button#reset {
  display: flex;
  justify-content: center;
  margin: 10px;

  font-family: 'Baloo Paaji 2', cursive; 
  font-size: 16px;
  font-weight: 900;
  color: white;
  width: 100px;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  background:  rgb(46, 46, 46);
  cursor: pointer;
}
button#start:hover, button#reset:hover {
  background-color: orangered;
  border: 2px solid orangered;
}
button#mute {
  font-family: 'Baloo Paaji 2', cursive; 
  width: 100px;
  padding: 5px 0;
  
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;

  cursor: pointer;
}

/* score */
.score-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score {
  /* padding: 10px; */
  text-align: center;
}
#current-score, #highest-score {
  font-weight: 800;
}


/* route, gh starting position background */
.route {
  background-color: #dbdbdb;
}
.route-highscore {
  background-color: orange;
}
.gh-starting {
  background-color: rgb(46, 46, 46);
}



/* food items */
.food1 {
  background-image: url('../assets/food1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  cursor: pointer;
}
.food2 {
  background-image: url('../assets/food2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  cursor: pointer;
}
.foodsp {
  background-image: url('../assets/foodsp.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  cursor: pointer;
}


/* ghost */
.gh0 {
  background-image: url('../assets/gh0red.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh1 {
  background-image: url('../assets/gh1green.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh2 {
  background-image: url('../assets/gh2yellow.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh3 {
  background-image: url('../assets/gh3pink.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.ghsp {
  background-image: url('../assets/gh-high-score.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}


/* eating pac */
/* --pac-style {
  background-image: url('../assets/pac1-open-mouse.png');
  background-position: center;
} */

.one-player {
  animation: fadeInLeft 1s 1 0s ease;
}
/* @keyframes pac1-eat {
  from {
    background-image: url('../assets/pac1.png');
  }
  to {
    background-image: url('../assets/pac1-open-mouse.png');
  }
}
@keyframes pac1-highscore {
  from {
    background-image: url('../assets/pac1-open-mouse.png');
  }
  to {
    background-image: url('../assets/pachighscore.png');
  }
} */


/* pacman, start, move, die */
.pac1-start {
  background-image: url('../assets/pac1start.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.pac1-eat {
  /* set animation using pic 1 and 2 */
  background-image: url('../assets/pac1eating.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  /* animation: pac1-eat .3s linear 1s infinite alternate; */
  /* transform: rotate(180deg); */
  /* animation-name: 'pac1-eat';
  animation-duration: .5s; */
}
/* @keyframes pac1-eat {
  from {
    background-image: url('../assets/pac1.png');
  }
  to {
    background-image: url('../assets/pac1-open-mouse.png');
  }
} */
.pac1-highscore {
  background-image: url('../assets/pachighscore.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  /* animation: pac1-highscore .3s linear 1s infinite alternate; */
}


