body {
  font-family: 'Baloo Paaji 2', cursive; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  margin: 5%;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 80%;
}
footer, header {
  font-size: 15px;
  color: gray;
  text-align: center;
  height: 10%;
  width: 100%;

  margin: 20px;
}
/* #setting {
  display: flex;
  justify-content: space-between;
  height: 20%;
}
button #mode {
  font-size: 20px;
}

#sound {
  justify-content: flex-end;

  display: flex;
  align-items: center;
} */

#game {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 80%;
}

#game-board-wrapper {
  height: 500px;
  width: 500px;

  margin: 10px;

  background-color: rgb(46, 46, 46);
  border: 2px solid rgb(46, 46, 46);

  outline: white;
}
#game-board {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}
/* cell */
#game-board div {
  width: calc(100% / width);
  height: calc(100% / height);

  flex: 1 1 10%;
}
/* ex-game */
#ex-game {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 60%;
  height: 30%;
}
.action {
  display: flex;
  justify-content: flex-start;
  /* margin: 20px 20px 20px 10%; */
}
button#start, button#reset {
  display: flex;
  justify-content: center;
  margin: 10px;

  font-family: 'Baloo Paaji 2', cursive; 
  font-size: 16px;
  font-weight: 900;
  color: white;
  width: 100px;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  background:  rgb(46, 46, 46);
  cursor: pointer;
}
button#start:hover, button#reset:hover {
  background-color: orangered;
  border: 2px solid orangered;
}
button#mute {
  font-family: 'Baloo Paaji 2', cursive; 
  width: 100px;
  padding: 5px 0;
  
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;

  cursor: pointer;
}

/* score */
.score-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score {
  /* padding: 10px; */
  text-align: center;
}
#current-score, #highest-score {
  font-weight: 800;
}


/* pacman, start, move, die */
.pac1-start {
  background-image: url('../assets/pac1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.pac1-eat {
  /* set animation using pic 1 and 2 */
  background-image: url('../assets/pacman-gif-8.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  /* animation: pac1-eat .3s linear 1s infinite alternate; */
  /* transform: rotate(180deg); */
  /* animation-name: 'pac1-eat';
  animation-duration: .5s; */
}
/* @keyframes pac1-eat {
  from {
    background-image: url('../assets/pac1.png');
  }
  to {
    background-image: url('../assets/pac1-open-mouse.png');
  }
} */
.pac1-highscore {
  background-image: url('../assets/pachighscore.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  /* animation: pac1-highscore .3s linear 1s infinite alternate; */
}


/* ghost, start, move, transform */
.gh0 {
  background-image: url('../assets/gh0.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh1 {
  background-image: url('../assets/gh1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh2 {
  background-image: url('../assets/gh2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh3 {
  background-image: url('../assets/gh3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.ghsp {
  background-image: url('../assets/gh-high-score.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh-starting {
  background-color: rgb(46, 46, 46);
}

/* food items */
.food1 {
  background-image: url('../assets/food1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  cursor: pointer;
}
.food2 {
  background-image: url('../assets/food2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  cursor: pointer;
}
.foodsp {
  background-image: url('../assets/foodsp.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  cursor: pointer;
}

/* eating pac */
/* --pac-style {
  background-image: url('../assets/pac1-open-mouse.png');
  background-position: center;
} */
/* route */
.route {
  background-color: #dbdbdb;
}
.route-highscore {
  background-color: orange;
}
.one-player {
  animation: fadeInLeft 1s 1 0s ease;
}
/* @keyframes pac1-eat {
  from {
    background-image: url('../assets/pac1.png');
  }
  to {
    background-image: url('../assets/pac1-open-mouse.png');
  }
}
@keyframes pac1-highscore {
  from {
    background-image: url('../assets/pac1-open-mouse.png');
  }
  to {
    background-image: url('../assets/pachighscore.png');
  }
} */

/* .dig-container {
  position: absolute;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 10px;
  border: 2px solid #ddd;
  box-shadow: 1px 1px 5px 1px #ccc;
  opacity: 1;
  border-radius: 10px;
  transition: all .3s liner 0s;
  z-index: 2;
}
.dig-header {
  padding: 10px;
  font-weight: bold;
  background: #575757;
  color: #f6f7f8;
}

.dig-body {
  padding: 10px;
  line-height: 30px;
}
.dig-footer {
  text-align: center;
  background: #f5f5f2;
  padding: 3px 0;
}
.dig-footer a{
  display: inline-block;
  width: 100px;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #eee;
  cursor: pointer;
}
.dig-footer a:active {
  box-shadow: inset 2px 2px 4px 0 #ccc;
  color: #666;
}
.freeze-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 .1);
  z-index: 1;
} */


