:root {
/* theme color, font family */
  --brand-font : 'Baloo Paaji 2', cursive; 
  --brand-color: darkgrey;
  --background-color: #222831;

}

body {
  font-family: var(--brand-font);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 5%;
}
main {
  height: 80%;
  width: 80%;
}
footer, header {
  font-size: 15px;
  color: gray;
  text-align: center;
  height: 10%;
  width: 100%;
}
#setting {
  display: flex;
  justify-content: space-between;

  height: 20%;
}
button #mode {
  font-size: 20px;
}

#sound {
  justify-content: flex-end;

  display: flex;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  height: 80%;
}

#game-board-wrapper {
  flex-grow: 3 1;

  height: 500px;
  width: 500px;

  background-color: var(--background-color);
  border: 1px solid var(--brand-color);
}
#game-board {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;
}
#score {
  flex-grow: 3 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#current-score, #highest-score {
  flex-grow: 1 1
}

/* cell */
#game-board div {
  width: 10%;
  height: 10%;

  flex: 1 1 10%;

  color: white;
}

.action {
  display: flex;
  justify-content: flex-end;

  margin: 10px 0;
}
#reset {
  font-family: var(--brand-font);
  font-size: 20px;
  text-align: center;
  color: white;

  background-color: darkred;
  padding: 5px 20px;
  border-radius: 30px;
  
}


/* route */
.route {
  background-color: #30475e;
}
.gh-starting {
  background-color: var(--background-color);
}

/* pacman, start, move, die */
.pac1-start {
  background-image: url('../assets/pac1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* ghost, start, move, transform */
.gh0 {
  background-image: url('../assets/gh0.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh1 {
  background-image: url('../assets/gh1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh2 {
  background-image: url('../assets/gh2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.gh3 {
  background-image: url('../assets/gh3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* food items */
.food1 {
  background-image: url('../assets/foodOne.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  cursor: pointer;
}
.food2 {
  background-image: url('../assets/foodTwo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
}
.foodsp {
  background-image: url('../assets/foodSp.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
  cursor: pointer;
}

/* eating pac */
.pac1-eat {
  /* set animation using 1 2 */
  animation-name: 'pac1-eat';
  animation-duration: .5s;
}
@keyframes pac1-eat {
  from {
    background-image: url('../assets/pac1.png');
  }
  to {
    background-image: url('../assets/pac1-open-mouse.png');
  }
}
